@media only screen and (max-width: 700px) {
	.register_btn {
		margin-top: 14px;
	}
}
#brand {
	color: darkred !important;
	font-weight: bold;
}
.nav_item {
	padding: 15px;
    display: inline-block;
    line-height: 20px;
    color: black !important;
}