<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crypterio</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/ui.css">
</head>
<body class="crypt-dark">
	<header>
		<div class="container-full-width">
			<div class="crypt-header">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
						<div class="row">
							<div class="col-xs-2">
								<div class="crypt-logo">
									<img src="images/logo.jpg" alt="">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="crypt-mega-dropdown-menu">
								  	<a href="" class="crypt-mega-dropdown-toggle">BTC/ETH <i class="pe-7s-angle-down-circle"></i></a>
								  	<div class="crypt-mega-dropdown-menu-block">
								  		<div class="crypt-market-status">
											<div>
											  <!-- Tab panes -->
											  <div class="tab-content">
											    <div role="tabpanel" class="tab-pane active">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">ETH</th>
													      <td>0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-down">-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											  </div>
											</div>
										</div>
								  	</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
						<ul class="crypt-heading-menu fright">
							<li><a href="exchange.html">Exchange</a></li>
							<li><a href="market-overview.html">Overview</a></li>
							<li><a href="marketcap.html">Market Cap</a></li>
							<li><a href="trading.html">Trading</a></li>
							<li><a href="withdrawl.html">Account</a></li>
                            <li class="crypt-box-menu menu-red"><a href="register.html">register</a></li>
                            <li class="crypt-box-menu menu-green"><a href="login.html">login</a></li>
						</ul>
					</div>
					<i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
				</div>
			</div>
		</div>
		<div class="crypt-mobile-menu">
			<ul class="crypt-heading-menu">
				<li class="active"><a href="">Exchange</a></li>
				<li><a href="">Market Cap</a></li>
				<li><a href="">Treanding</a></li>
				<li><a href="">Tools</a></li>
				<li class="crypt-box-menu menu-red"><a href="">register</a></li>
				<li class="crypt-box-menu menu-green"><a href="">login</a></li>
			</ul>
			<div class="crypt-gross-market-cap">
				<h5>$34.795.90 <span class="crypt-up pl-2">+3.435 %</span></h5>
				<h6>0.7925.90 BTC <span class="crypt-down pl-2">+7.435 %</span></h6>
			</div>
		</div>
	</header>
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col md-12 text-center">
				<h1 class="mt-5 mb-5 text-white">Top 100 Cryptocurrencies By Market Capitalization</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped crypt-table-market-cap">
					  <thead>
					    <tr>
					      <th scope="col">Rank</th>
					      <th scope="col" class="text-left pl-2">Name</th>
					      <th scope="col">Market Cap</th>
					      <th scope="col">Price</th>
					      <th scope="col">24 Hour Volume</th>
					      <th scope="col">Change</th>
					      <th scope="col">7 days</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>1</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/btc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Bitcoin</a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-down"> -0.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
			      			data-bg = "fcbcb3"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>2</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/eth.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Ethrium</a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-down"> -4.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[34,54,23,56,76,78,34,56,45]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>3</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/ltc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Litecoin</a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">3.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[55,40,80,90,65,59,81,81,56]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>4</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/btcc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin">  <a href="index.html">
					      	BTCC
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-down">-0.45%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[89,23,67,45,23,45,78,34,56,67]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>5</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/xrp.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	XRP
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">6.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[34,45,56,67,65,45,34,23,45,56]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>6</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/tron.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	TRON
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-down">-6.7%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[45,34,45,56,67,45,56,67,78,67]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>7</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/stlr.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	Steller
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">2.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[56,45,67,45,34,45,56,67,56,45]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>8</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/tether.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	Tether
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">5.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>9</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/dash.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	Dash
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">2.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					    <tr>
					      <th>9</th>
					      <td class="text-left pl-2 font-weight-bold"><img src="images/coins/monero.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
					      	Monero
					      </a></td>
					      <td>$239048209</td>
					      <td>$4559</td>
					      <td>$2344234</td>
					      <td class="crypt-up">3.04%</td>
					      <td
			      			class ="crypt-marketcap-canvas"
			      			data-charts ="[65,81,40,80,56,59,81,55,90]" 
			      			data-bg = "d3f0df"
			      			data-border = "8cd8aa">
				      		<canvas></canvas>
				      	  </td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row mb-4 mt-4">
			<div class="col-md-6">
				<a href="" class="crypt-btn crypt-button-inline crypt-btn-green">Next 100 <i class="pe pe-7s-angle-right-circle"></i></a>
				<a href="" class="crypt-btn crypt-button-inline crypt-btn-red">View All</a>
			</div>
			<div class="col-md-6 mt-3">
				<p><i>*Coin Market Cap provides direct cryptocurrency market capitalization data</i></p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="mt-5 mb-3"><b>Total Market Cap: <span class="crypt-up">$884,056,234,480</span></b></h1>
					<p class="mb-5">Last updated: Jan 20, 2019 3:00 PM UTC</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer>
		
	</footer>
	<script src="amc/core.js"></script>
	<script src="amc/charts.js"></script>
	<script src="amc/animated.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="js/chart.js"></script>
	<script src="js/main.js"></script>
	<script src="js/amc.js"></script>
</body>
</html>