<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crypterio</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/ui.css">
</head>
<body class="crypt-dark">
	<header>
		<div class="container-full-width">
			<div class="crypt-header">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
						<div class="row">
							<div class="col-xs-2">
								<div class="crypt-logo">
									<img src="images/logo.jpg" alt="">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="crypt-mega-dropdown-menu">
								  	<a href="" class="crypt-mega-dropdown-toggle">BTC/ETH <i class="pe-7s-angle-down-circle"></i></a>
								  	<div class="crypt-mega-dropdown-menu-block">
								  		<div class="crypt-market-status">
											<div>
											  <!-- Tab panes -->
											  <div class="tab-content">
											    <div role="tabpanel" class="tab-pane active">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">ETH</th>
													      <td>0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-down">-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											  </div>
											</div>
										</div>
								  	</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
						<ul class="crypt-heading-menu fright">
							<li><a href="exchange.html">Exchange</a></li>
							<li><a href="market-overview.html">Overview</a></li>
							<li><a href="marketcap.html">Market Cap</a></li>
							<li><a href="trading.html">Trading</a></li>
							<li><a href="withdrawl.html">Account</a></li>
                            <li class="crypt-box-menu menu-red"><a href="register.html">register</a></li>
                            <li class="crypt-box-menu menu-green"><a href="login.html">login</a></li>
						</ul>
					</div>
					<i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
				</div>
			</div>
		</div>
		<div class="crypt-mobile-menu">
			<ul class="crypt-heading-menu">
				<li class="active"><a href="">Exchange</a></li>
				<li><a href="">Market Cap</a></li>
				<li><a href="">Treanding</a></li>
				<li><a href="">Tools</a></li>
				<li class="crypt-box-menu menu-red"><a href="">register</a></li>
				<li class="crypt-box-menu menu-green"><a href="">login</a></li>
			</ul>
			<div class="crypt-gross-market-cap">
				<h5>$34.795.90 <span class="crypt-up pl-2">+3.435 %</span></h5>
				<h6>0.7925.90 BTC <span class="crypt-down pl-2">+7.435 %</span></h6>
			</div>
		</div>
	</header>
	<!-- Main Content -->
	<div class="container">
		<div class="row sm-gutters">
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/btc.png" width="20" class="crypt-market-cap-logo" alt="logo"> Bitcoin</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "fdddb7"
		      			data-border = "f8a036">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-9.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/eth.png" width="20" class="crypt-market-cap-logo" alt="logo"> Ethrium</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "bfe9cf"
		      			data-border = "49c279">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+4.25% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/xrp.png" width="20" class="crypt-market-cap-logo" alt="logo">  XRP</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[55,69,41,61,56,54,44,50,60]" 
		      			data-bg = "c7c0ea"
		      			data-border = "b2a8e2">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+2.25% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/btcc.png" width="20" class="crypt-market-cap-logo" alt="logo"> BTCC</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[15,49,41,61,76,84,44,60,78]" 
		      			data-bg = "fcc6bf"
		      			data-border = "fa9f93">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-red">-4.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/ltc.png" width="20" class="crypt-market-cap-logo" alt="logo"> LTC</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
		      			data-bg = "b8eefd"
		      			data-border = "94e4fb">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-12.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/tether.png" width="20" class="crypt-market-cap-logo" alt="logo"> Tether</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[55,47,41,66,79,54,23,60,78]" 
		      			data-bg = "fdc0de"
		      			data-border = "fcb2d7">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+6.67% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/monero.png" width="20" class="crypt-market-cap-logo" alt="logo"> Monero</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
		      			data-bg = "dca875"
		      			data-border = "dca875">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-3.45% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/tron.png" width="20" class="crypt-market-cap-logo" alt="logo"> Tron</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "bfe9cf"
		      			data-border = "49c279">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-green">+8.05% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/neo.png" width="20" class="crypt-market-cap-logo" alt="logo"> NEO</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "fdddb7"
		      			data-border = "f8a036">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-9.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/ethc.png" width="20" class="crypt-market-cap-logo" alt="logo"> ETH CLassic</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "bfe9cf"
		      			data-border = "49c279">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+4.25% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/zc.png" width="20" class="crypt-market-cap-logo" alt="logo">  Zcash</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[55,69,41,61,56,54,44,50,60]" 
		      			data-bg = "c7c0ea"
		      			data-border = "b2a8e2">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+2.25% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/nem.png" width="20" class="crypt-market-cap-logo" alt="logo"> NEM</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[15,49,41,61,76,84,44,60,78]" 
		      			data-bg = "fcc6bf"
		      			data-border = "fa9f93">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-red">-4.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/cardano.png" width="20" class="crypt-market-cap-logo" alt="logo"> Cardano</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
		      			data-bg = "b8eefd"
		      			data-border = "94e4fb">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-12.05% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/doge.png" width="20" class="crypt-market-cap-logo" alt="logo"> Doge</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[55,47,41,66,79,54,23,60,78]" 
		      			data-bg = "fdc0de"
		      			data-border = "fcb2d7">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-up">+6.67% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/zil.png" width="20" class="crypt-market-cap-logo" alt="logo"> Ziliqua</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
		      			data-bg = "dca875"
		      			data-border = "dca875">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-down">-3.45% <img src="images/download-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="crypt-fulldiv-linechart mt-4">
					<h4 class="coinname"><img src="images/coins/bite.png" width="20" class="crypt-market-cap-logo" alt="logo"> Bitecoin</h4>
					<div
		      			class ="crypt-individual-marketcap"
		      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
		      			data-bg = "bfe9cf"
		      			data-border = "49c279">
			      		<canvas></canvas>
			      	</div>
			      	<div class="coin-meta-data text-center">
			      		<h5 class="crypt-green">+8.05% <img src="images/up-arrow.svg" width="15" class="crypt-market-cap-logo" alt="logo"></h5>
			      		<h4>$4,056,894.05</h4>
			      		<p><b>MARKET CAP</b></p>
			      	</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer>
		
	</footer>
	<script src="js/jquery.js"></script>
	<script src="amc/core.js"></script>
	<script src="amc/charts.js"></script>
	<script src="amc/animated.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="js/chart.js"></script>
	<script src="js/main.js"></script>
</body>
</html>