.list_currencies {
	list-style-type: none;
}
.list_item {
	box-shadow: 10px 10px 10px grey;
	border: 2px solid black;
	margin: 10px 0px;
	width: 100%;
	min-width: 100%;
}
@media only screen and (max-width: 800px) {
	.list_item {
		box-shadow: 10px 10px 10px grey;
		border: 2px solid black;
		margin: 10px -20px 10px 0px;
		width: 100%;
		min-width: 100%;
		padding-left: 20px;
	}
	.adjust_size {
		display: none;
	}

}
@media only screen and (min-width: 801px) {
	.adjust_size_two {
		display: none;
	}
}
.adjust_size_two {
	font-size: 26px;
	color: white;
	padding-top: 10px;
}
.black_container {
	background: black;
	padding-bottom: 14px;
	margin-bottom: 0px !important;
}
.main {
	color: darkred;
	font-weight: bold;
	padding-top: 10px;
}
.img_logo {
	height: 75px;
	width: 75px;
	max-height: 75px;
	max-width: 75px;
	padding-left: 15px;
	padding-bottom: 15px;
}
.adjust_size {
	font-size: 2rem;
	color: white;
	padding-top: 10px;
}
.turn_blue {
	color: blue;
}
.turn_red {
	color: red;
}
#picture {
	height: 40px;
	width: 40px;
	max-height: 40px;
	max-width: 40px;
}